@charset "utf-8";

#cont_con {height: 550px;}

.cont_table {padding: 60px 0;}
.notice_table {float: left; width: 100%; border-collapse: collapse; table-layout: fixed; margin-top: 30px;}

.notice_table tr {text-align: center; font-weight: normal;}
.notice_table tr.tr_tit {background: #e6e6e6d8; border-top: 2px solid black; font-weight: bold;}
.notice_table tr:last-child {border-bottom: 2px solid black;}
.notice_table tr.tr_import {background: #d8d8d8; font-weight: bold;}
.notice_table th.th_num {width: 59px;}
.notice_table th.th_tit {width: 755px;}
.notice_table th.th_writer {width: 107px;}
.notice_table th.th_day {width: 120px;}
.notice_table th.th_views {width: 59px;}

.notice_table th, td {border: 1px solid #bebebe; padding: 10px 0;}
.notice_table tr td.tit {text-align: left; padding-left: 10px;}
.notice_table tr td.tit a:hover {text-decoration: underline;}