@charset "utf-8";

#cont_con {height: 782px;}

/* story_tit */
.story_tit {float: left; width: 100%; padding:  60px 0 30px 0; border-bottom: 2px solid black;}
.story_tit h1 {font-size: 24px; padding-left: 20px;}
.story_tit h1 strong {color: #193a67;}
.story_tit span {display: block; font-size: 18px; font-weight: normal; padding: 10px 0 0 10px;}

/* story_con */
.story_con {width: 100%;}
.story_con .con_left {float: left; width: 290px;}
.story_con .con_left h1 {font-size: 38px; padding: 10px 0 0 50px; font-style: italic;}

.story_con .con_right {float: left; width: 810px;}
.story_con .con_right .txt_box {overflow: hidden; width: 100%; padding: 20px 0; border-bottom: 1px solid #bebaba;}
.txt_box .txt_year {float: left;}
.txt_box .txt_year h2 {font-size: 22px;}
.txt_box .txt_con {float: left; font-weight: normal;}
.txt_box .txt_mon {display: block; padding: 5px 70px;}
.txt_box .txt_mon span {font-size: 15px; font-weight: bold;}
.txt_box .txt_his {margin-left: 60px;}
.txt_box .txt_his p {display: block; font-size: 15px;}
